<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Tirocinio2.5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>JNDI reference to a data source</description>
    <res-ref-name>jdbc/tirocinio2_5</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>SignupControl</servlet-name>
    <servlet-class>gestioneutente.control.SignupControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupControl</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginControl</servlet-name>
    <servlet-class>gestioneutente.control.LoginControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginControl</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditDataControl</servlet-name>
    <servlet-class>gestioneutente.control.EditDataControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditDataControl</servlet-name>
    <url-pattern>/EditData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyLinkedinControl</servlet-name>
    <servlet-class>gestionestudente.control.ModifyLinkedinControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyLinkedinControl</servlet-name>
    <url-pattern>/modifyLinkedin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>gestionestudente.control.UploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/uploadfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadDocument</servlet-name>
    <servlet-class>gestionestudente.control.UploadDocument</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadDocument</servlet-name>
    <url-pattern>/oldTraining</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InternalExternal</servlet-name>
    <servlet-class>gestionestudente.control.InternalExternal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InternalExternal</servlet-name>
    <url-pattern>/training_internal_external</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfileControl</servlet-name>
    <servlet-class>gestioneprofessoretutoraziendale.control.ProfileControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileControl</servlet-name>
    <url-pattern>/createprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TirocinioControl</servlet-name>
    <servlet-class>gestioneutente.control.TirocinioControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TirocinioControl</servlet-name>
    <url-pattern>/tirociniocontrol</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AndamentoControl</servlet-name>
    <servlet-class>gestioneprofessoretutoraziendale.control.AndamentoControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndamentoControl</servlet-name>
    <url-pattern>/timeWork</url-pattern>
  </servlet-mapping>
</web-app>